
body,
html {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Harmattan', sans-serif;
}

#header img {
    display: inline-block;
    margin-left: 20px;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}

.carousel {
    width:640px;
    height:360px;
    margin: auto;
  }

  h1 {
    display: inline-block;
    font-family: 'Harmattan', sans-serif;
    font-size: 100px;
    color: #18121E;
    /* text-align: center; */
    margin: 0 auto;
    margin-left: 20px;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header"
        "search search recent"
        "results results weather"
        "details trailImage trailImage"
        "footer footer footer";
}

footer {
    max-width: 100%;
    font-size: 10px;
    color: #EAC67A;
    background-color: #233237;
    margin-top: 20px;
    text-align: center;
}

