
body,
html {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Harmattan', sans-serif;
}

#header img {
    display: inline-block;
    margin-left: 20px;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}

.carousel {
    width:640px;
    height:360px;
  }